<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/chessboard-0.3.0.css"%}">
	<title></title>
	<meta charset="utf-8"/>
</head>
<body>
{{insert_src}}
<script src="{% static "js/chess.js"%}"></script>
<div id="board" style="width: 400px"></div>
    <script type="text/javascript" src="{% static "js/chessboard-0.3.0.js"%}"></script>
	<script type="text/javascript" src="{% static "js/jquery.js"%}"></script>
	<script type="text/javascript" src="{% static "js/json3.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/index_script.js"%}"></script>
</body>
</html>
